<div id="<%= dom_id season %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Week:</strong>
    <%= season.week %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= season.year %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this season", season, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this season', edit_season_path(season), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
