<!DOCTYPE html>
<html class="dark">
<head>
  <title>RubyBets</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div data-controller="mobile-menu">
  <%= render "layouts/header" %>
  <%= render 'shared/mobile_nav' %>
</div>
<div class="bg-white dark:bg-slate-800">
  <main class="container mx-auto px-5 flex">
    <%= yield %>
  </main>
</div>
</body>
</html>
